{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sharma Hospital</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/table.css' %}">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="{% static 'js/index.js'%}"></script>
</head>
<style>
html
{
	scroll-behavior: smooth;
}
</style>
    
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		  <div class="navbar-header">
			<a class="navbar-brand" href="#" style="position:relative;margin-right:500px;font-size:25px;">Sharma Hospital</a>
		  </div>
		  <button type="button" class="btn btn-default" style="margin-left:50px;margin-top:10px;"><a href="/table/">Home</a></button>
		  <button type="button" class="btn btn-default" style="margin-left:50px;margin-top:10px;"><a href="#customers">Doctors</a></button>
		  <button type="button" class="btn btn-default" style="margin-left:50px;margin-top:10px;"><a href="#customers">Patients</a></button>
		  <button type="button" class="btn btn-default" style="margin-left:50px;margin-top:10px;"><a href="/registration/">Registration</a></button>
		</div>
	  </nav>



<div class="container">
  <h2>Patients from 85+ countries have trusted us.</h2>
  <h3>Join hundreds of happy patients who choose the right treatment and care.</h3><br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="{% static 'images/hospital1.jpg' %}" alt="Los Angeles" style="width:100%;height:500px;">
      </div>

      <div class="item">
        <img src="{% static 'images/hospital2.jpg' %}" alt="Chicago" style="width:100%;height:500px;">
      </div>
    
      <div class="item">
        <img src="{% static 'images/hospital3.jpg' %}" alt="New york" style="width:100%;height:500px;">
      </div>

      <div class="item">
        <img src="{% static 'images/hospital4.jpg' %}" alt="New york" style="width:100%;height:500px;">
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div><br>

<h1>Our Team</h1>
<h3>We Give Our Best to your health</h3>

{% if doctor %}
{% for i in doctor %}
<div class="flip-card" style="width:250px;height:250px;">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="{{i.image.url}}" alt="{{i.name}}" style="width:250px;height:250px;">
    </div>
    <div class="flip-card-back">
      <h1>{{i.name}}</h1> 
      <p>{{i.specialist}}</p> 
      <p>Experiance in medicare : {{i.experiance}}</p>
      <p>{{i.address}}</p>
    </div>
  </div>
</div><br>
{% endfor %}
{% endif %}

<div class="container" style="position:absolute;margin-left:400px;margin-top:-1700px;">
    <h2>Our Services in Medical fields</h2>
    <p>The success class indicates a successful or positive action</p>                                                  
    <table class="table" style="width:700px;">
      <thead>
        <tr>
          <th>#</th>
          <th>Firstname</th>
        </tr>
      </thead>
      <tbody>
        <tr class="success">
        {% if issue %}
        {% for i in issue %}
          <td>{{i.id}}</td>
          <td>{{i.Category_name}}</td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
  
  <div style="width:1000px;margin-left:280px;margin-top:-650px;">
    <h1>Our Patients..</h1>

<table id="customers" class="patientsscroll">
  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Address</th>
    <th>Issue</th>
    <th>Doctor</th>
    <th>Appointment</th>
  </tr>
  {% if patient %}
  {% for i in patient %}  
  <tr>
    <td>{{i.name}}</td>
    <td>{{i.contact}}</td>
    <td>{{i.email}}</td>
    <td>{{i.gender}}</td>
    <td>{{i.address}}</td>
    <td>{{i.issue}}</td>
    <td>{{i.select_doctor}}</td>
    <td>{{i.appointment_time}}</td>
  </tr>
  {% endfor %}
  {% endif %}
</table>

  </div>


  <div style="width:1000px;margin-left:280px;">
    <h1>Our Doctors....</h1>

<table id="customers">
  <tr>
    <th>Name</th>
    <th>specialist</th>
    <th>gender</th>
    <th>experiance</th>
    <th>available</th>
    <th>appointment</th>
    <th>address</th>
    <th>See all patients</th>
  </tr>
  {% if doctor %}
  {% for i in doctor %}  
  <tr>
    <td>{{i.name}}</td>
    <td>{{i.specialist}}</td>
    <td>{{i.gender}}</td>
    <td>{{i.experiance}}</td>
    <td>{{i.available}}</td>
    <td>{{i.appointment}}</td>
    <td>{{i.address}}</td>
    <td><button type="button" class="btn btn-success"><a href="{% url 'patients' i.name %}" style="color:white;">See Details</a></button></td>
  </tr>
  {% endfor %}
  {% endif %}
</table>

  </div>


</body>
</html>
